/* .main-content{
    background-image: url(background.jpg);
} */

.sidebar-header{
    background-color: #2b4332; /* Green background */
}
.main-menu{
    background-color: #2b4332; /* Green background */
    
}
.sidebar-menu .sidebar-header {
    background-color: #2b4332; /* Slightly darker green for the header */
}

.sidebar-menu .metismenu li a {
    color: white; /* White text for the menu items */
}

.sidebar-menu .metismenu li a:hover, 
.sidebar-menu .metismenu li.active a {
    background-color: #1e9838ba; /* Darker green on hover or active state */
    color: white;
}
